* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;    
}

#main {
    display: grid;
    grid-template-rows: auto auto auto [bottom];
    grid-template-columns: auto;
}

#header {        
    background-color: rgb(175, 223, 255);
    text-align: center;
    text-transform: uppercase;    
    padding: 1em 0 1em 0;        
    line-height: 100%;
    font-size: 270%;
    color: blue;
}

#footer {       
    background-color: rgb(175, 223, 255);
    clear: both;
    padding: 1em;
    text-align: center;
    text-transform: uppercase;      
    color: blue;   
    font-size: 270%;  
}

#main-container {    
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: auto;
}

#left-block {
    display: grid;   
    grid-template-rows: 1em auto;
    padding: 20px;
    font-size: 130%;
    background-color: rgb(248, 233, 182);                     
}

#left-block-title {     
    font-weight: bold;
}

.main-content {   
    padding: 0 2em 0 2em;    
    background-image: url(ball.png);
    background-repeat: repeat-y;
    background-position: right 0;
    background-size: 110px;
    background-color: white;              
}      
        
#main-photo-container {        
    float: left;
    width: 30em;
    height: 20em;          
    margin: 2em 2em 0.5em 0;                  
}

#main-photo {
    width: 100%;      
}

.main-title {
    font-size: 250%;
    font-weight: bold;
    text-align: center;
    padding-top: 0.7em;
}

.main-info {
    font-size: 190%;           
}

.main-info p:last-child {
    margin-bottom: 0;
    padding-bottom: 2em;
}
      
    
@media all and (max-width: 1000px) {

    #main-photo-container {        
        float: none;
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-top: 1em;      
    }

    .main-content {          
        background-image: none;        
    }

    #header, #footer {
        font-size: 170%;         
    }        

}

@media all and (max-width: 800px) {

    #main {
        grid-template-rows: auto auto [bottom];
    }


    #main-container {
       grid-template-rows: auto auto;
       grid-template-columns: auto;
    }

    #left-block {
        grid-row: bottom;
        grid-template-rows: auto;           
        text-align: center;
        font-size: 100%;            
        padding: 1em;
    }
  
    #left-block ul {                     
        padding-left: 0;
        padding-right: 0;
    }        

    #left-block li {    
        display: inline-block;
        margin-right: 1em;
    }
  
    .main-content {          
        background-image: none;
        margin-left: 0;
    }
    
    .main-info {
        font-size: 150%;           
    }

    .main-title {
        font-size: 200%;         
    }

    #header, #footer {
        font-size: 130%;              
    }
    
}

@media all and (max-width: 700px) {

    #header, #footer {
        display: none;
    }

}

@media all and (max-width: 600px) {

    .main-content {               
        padding-left: 1em;
        padding-right: 0.5em;
    }    

    #left-block { 
        font-size: 70%;
        line-height: 170%;
        padding: 0.5em;           
    }

    .main-title {
        font-size: 150%;         
    }

    .main-info {
        font-size: 100%;           
    }

}

@media all and (max-width: 500px) {

   .main-info {
        font-size: 80%;           
    }
      
}